body {font-family: 'Merriweather', serif;
      font-size: 18px;
      padding: 0; margin:40px;}

Canvas {position: fixed; Top: 0; Left: 0; Z-index:-1; } #content {position: relative; Z-index: 2; }

#intro{font-size: 12;
        position: fixed;
        bottom: 10px;
        Z-index: 3;}
#title{ font-size: 18;
/*        position: relative;*/
        position: fixed;
        bottom: 25px;
        Z-index: 3;
        color:rgba(70,160,120,.5)
        }
#captions{font-size: 16px !important;
    max-width:460px;
        top:470px;

        position: relative;
/*        Z-index: 3;*/
        color:rgb(100,160,110);
        }

#footer{
    position:fixed;
    height:50px;
    bottom:0px;
}

#navigation{
    position:fixed;
    height:33px;
    bottom:0px;
}


#nursery{
    position:fixed;
    bottom:0px;
    width:450px;
}
#choices{

    color:rgba(95, 180, 90,.5);
    cursor: pointer;
    margin: 7px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}

#saplings{
    position: relative;
    display: inline-flex;
    width: 25px;
    float: left;
    color:rgba(95, 200, 90,.4);
    bottom: 30px;
    cursor: pointer;

}
textarea {
  width: 400px;
  height: 150px;
}

#questions{font-size: 12;
        position: fixed;
        bottom: 10px;
        Z-index: 3;}

p{color:rgb(0,60,20);max-width:600px;}
p1{font-size:16;

}
p2{font-size: 12;}

A{text-decoration:none; color:rgb(0,160,150)}
h1{color:rgb(70,160,120,10);Z-index: 2;line-height:10px;}
h3{color:rgb(90,160,120);Z-index: 2;line-height:10px;}

/*
for flex
<h1 style="font-size:10vw">Hello World</h1>
<style>
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
/*}*/
/*
.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
/*}
*/
/* Use a media query to add a breakpoint at 800px: */
/*
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
/*  }
}
</style>
*/