body {font-family: 'Merriweather', serif;
      font-size: 18px;
      padding: 0; margin:30px;} 

Canvas {position: fixed; Top: 0; Left: 0; Z-index:-1; } #content {position: relative; Z-index: 2; } 

/*.tab { margin-left: 40px; }*/

/*
.tabright { 
          position:fixed; 
          right:20px }
*/

#intro{font-size: 12;
        position: fixed;
        bottom: 10px;
        Z-index: 3;}
#title{ font-size: 18;
        position: fixed;
        bottom: 25px;
        Z-index: 3;
        color:rgba(70,160,120,.5)
        }
#subtitle{font-size: 12;
        position: fixed;
        bottom: 10px;
        Z-index: 3;
        color:rgb(90,160,120);
/*        line-height:10px;}*/
        }


textarea {
  width: 400px;
  height: 150px;
}

#questions{font-size: 12;
        position: fixed;
        bottom: 10px;
        Z-index: 3;}
A{text-decoration:none; color:rgb(0,160,150)}
h1{color:rgb(70,160,120,10);Z-index: 2;line-height:10px;}
h3{color:rgb(90,160,120);Z-index: 2;line-height:10px;}
p{color:rgb(0,60,20);max-width:600px;}
p1{font-size:16;}
p2{font-size: 12;}
 